<div class="row">
  <div class="large-12 columns">
    <h1>{{venue}}<span class="subheader"> - {{formatDate startsAt 'ddd, ll'}}</span></h1>
    <h2>Where is it happening?</h2>
  </div>
</div>
<div class='row'>
  <div class='large-8 columns'>
    {{map-canvas dinner=this}}
  </div>
  <div class='large-4 columns'>
    <div class="panel venue-details">
      <dl>
        <dt>Venue:</dt>
        <dd>{{venue}}</dd>
        <dt>Date:</dt>
        <dd>{{formatDate startsAt 'll'}}</dd>
        <dt>Starts at:</dt>
        <dd>{{formatDate startsAt 'h:mm a'}}</dd>
        <dt>Address:</dt>
        <dd>{{address}}</dd>
      </dl>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <hr/>
    <h2>Who's eating what?</h2>
    <nav class='breadcrumbs'>
      {{#link-to 'starter' activeClass='current'}}Starter{{/link-to}}
      {{#link-to 'mainCourse' activeClass='current'}}Main{{/link-to}}
      {{#link-to 'dessert' activeClass='current'}}Dessert{{/link-to}}
    </nav>
    {{outlet}}
  </div>
</div>
